<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glassteach_filemanage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="Globals"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity android:name="FilePushActivity" />
        <activity android:name="FilePullActivity" />
 		
        <activity
                android:name="LoadingMenuActivity"
                android:theme="@style/MenuTheme" />
        <service
             android:name="MonitorOffService"
             android:enabled="true" />
        <service
             android:name="MonitorOnService"
             android:enabled="true" />
        <service
            android:name="FileManageService"
            android:icon="@drawable/monitor_off"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />
        </service>
    </application>

</manifest>
